@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    display:flex;
    justify-content: center;
    background: linear-gradient(180deg,rgb(0, 0, 0) 0%, rgb(153, 121, 251)  100%, rgb(143, 113, 234 ) 70%);
}

.content{
    width: 40vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    color: white;
    font-family: poppins;
    position: relative;
}

.texto{
    display: flex;
    background:rgba(155, 117, 211, 0.363);
    padding: 50px;
    border-radius: 30px;
    transition: .1s ease-in;
    width: 500vw;
    height: 30vh;
    box-shadow: 2px 10px 20px rgba(140, 0, 255, 0.253) ;
    text-align: center;
    margin-top: 250px;
 
}


h2{
    margin-top: -30px;
    font-size: 20px;
}



.emoji img{
    position: absolute;
    right: 535px;
    top: 120px;
    height: 30vh;
    filter: drop-shadow(2px 2px 20px #8185a360) ;
    border-radius: 20px;
}

@keyframes float{
    0%, 100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }
}

.emoji1 img{
    position: absolute;
    right: 340px;
    bottom: 520px;
    height: 17vh;
   
    animation: float 2s ease-in-out infinite;
}



.button_ir{
    background:rgb(155, 117, 211, 0.363);
    box-shadow: 2px 2px 20px rgba(170, 136, 197, 0.705) ;
    color: white;
    border: 2px solid transparent;
    font-family: poppins;
    padding: 15px;
    border-radius: 25px;
    Cursor: pointer;
    margin-top: 5vh;
    margin-left: -147vh;
    height: 3vh;
    transition: .2s ease-out;
    font-size: 12px;
    font-weight: 600;
    width: 15rem;
}
h3{
    margin-top:-1vh;
}
